In [42]:
import numpy as np
import pandas as pd

In [43]:
# converts a raw data file, test flag takes a small subset of the first file (the first threshold rows)
def convertToJson(inputFile, outputFile, test=False, threshold=1000):
    
    # read lines into memory
    with open(inputFile, 'r') as inFile:
        count = 0
        lines = []
        for line in inFile:
            lines.append(line)
            count +=1
            if count > threshold and test:
                break
        print(count)

    # write lines out to json file, last line needs to not have comma otherwise pandas throws error
    with open(outputFile, 'w') as outFile:
        outFile.write('[\n')
        k = len(lines)
        for i, line in enumerate(lines[:-1]):
            res = line.replace('}','},')
            outFile.write(res)
        outFile.write(lines[-1])
        outFile.write(']\n')

In [44]:
# creates a data frame given json file jsonData
def createDataFrame(jsonData):
    df = None
    with open(jsonData,'r') as data:
        df = pd.read_json(data)
    return df

In [45]:
fileName1 = 'rio_bq_2019000000000000'
outputFileName1 = fileName1+'.json'
df1 = convertToJson(fileName1, outputFileName1, test=True, threshold=10000)
                
fileName2 = 'rio_bq_2019000000000001'
outputFileName2 = fileName2+'.json'
df2 = convertToJson(fileName2, outputFileName2, test=True, threshold=10000)
                
df1 = createDataFrame(outputFileName1)
df2 = createDataFrame(outputFileName2)

frames = [df1, df2]
df = pd.concat(frames, ignore_index=True)

10001
10001

In [46]:
def convertDateTime(df):
    df['localtime'] = pd.to_datetime(df['localtime'])
    return df

In [47]:
df = convertDateTime(df)
df['localtime'][0].time()

datetime.time(2, 52, 33, 289000)

In [48]:

df81 = df[(df['localtime'] >= '2019-08-01') & (df['localtime'] < '2019-08-02')]

In [50]:
import matplotlib.pyplot as plt

In [55]:
df['ClientMacAddr'].groupby

0        a4:ee:57:bf:c5:86
1        3c:a8:2a:78:83:94
2        f8:62:14:32:35:38
3        28:80:23:32:16:16
4        28:80:23:32:16:12
               ...
19997    6c:e8:5c:62:02:18
19998    da:e1:4d:33:82:ae
19999    da:e1:4d:33:82:ae
20000    dc:35:f1:be:1c:a3
20001    dc:35:f1:be:1c:a3
Name: ClientMacAddr, Length: 20002, dtype: object

In [67]:
df['ClientMacAddr'].unique()

array(['a4:ee:57:bf:c5:86', '3c:a8:2a:78:83:94', 'f8:62:14:32:35:38', ...,
       '7a:97:1f:bd:22:f7', '28:cf:da:e8:3e:f0', 'da:e1:4d:33:82:ae'],
      dtype=object)

In [84]:
df.head()

,Building,ClientMacAddr,Level,lat,lng,localtime
0,TPS1,a4:ee:57:bf:c5:86,Level 2,-22.811781,-43.249902,2019-08-01 02:52:33.289000+00:00
1,TPS1,3c:a8:2a:78:83:94,Level 2,-22.811983,-43.250474,2019-08-01 02:52:35.488000+00:00
2,TPS1,f8:62:14:32:35:38,Level 2,-22.812017,-43.251573,2019-08-01 02:52:36.268000+00:00
3,TPS1,28:80:23:32:16:16,Level 2,-22.812122,-43.249719,2019-08-01 02:52:41.537000+00:00
4,TPS1,28:80:23:32:16:12,Level 2,-22.812126,-43.249737,2019-08-01 02:52:41.538000+00:00

ImportError: No module named 'seaborn'